.main-header a:visited {
    color: blue;
    text-decoration: none; /* Remove the underline */
}

.main-header a.active {
    color: purple;
}

.main-header h1 {
    text-shadow: none;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

.main-header nav ul {
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.main-header nav li {
    display: inline;
    text-align: center;
    flex: 1;
}

.main-header nav a {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.main-header, .main-header nav, .main-header nav ul, .main-header nav li {
    background: none;
}