.main-header a:visited {
    color: blue !important;
    text-decoration: none !important; /* Remove the underline */
}

.main-header a.active {
    color: purple !important;
}

.main-header h1 {
    text-shadow: none !important;
    text-align: center !important;
    font-family: Arial, sans-serif !important;
    font-size: 24px !important;
    text-transform: uppercase !important;
}

.main-header nav ul {
    padding: 0 !important;
    display: flex !important;
    flex-flow: row wrap !important;
}

.main-header nav li {
    display: inline !important;
    text-align: center !important;
    flex: 1 !important;
}

.main-header nav a{
    text-transform: uppercase !important;
    font-family: Arial, sans-serif !important;
    font-size: 16px !important;
    color: black !important;
}

.main-header, .main-header nav, .main-header nav ul, .main-header nav li {
    background: none !important;
}