.letter-content {
    max-width: 800px;
    margin: 0 auto;
}
  
.letter-content .sender-column {
    text-align: right;
}

.letter-content h1 {
    font-size: 1.5em;
}

.letter-content h2 {
    font-size: 1.3em;
}

.letter-content p, ul, ol, dl, address {
    font-size: 1.1em;
}

.letter-content p, li, dd, dt, address {
    line-height: 1.5;
}